d95b/src/main/resources/EDIFACT-Interchange.dfdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--***********************************************************************
    * IBM hereby grant permission, to those obtaining a copy of these materials,
    * to use, copy and modify the materials solely for use with DFDL processors.
    * THESE MATERIALS ARE PROVIDED AS IS WITH NO WARRANTIES OF ANY KIND.
    *
    * The United Nations Rules for Electronic Data Interchange for Administration,
    * Commerce and Transport (UN/EDIFACT) can be obtained from the United Nations
    * Economic Commission for Europe (UNECE) website:
    * http://www.unece.org/tradewelcome/areas-of-work/un-centre-for-trade-facilitation-and-e-business-uncefact/outputs/standards/unedifact/directories/download.html
    *
    * For any further reproduction of UN/CEFACT material please contact info.ece@unece.org.
    *
    * © Copyright (1993-2014) United Nations, all rights reserved
    *
    * © Copyright International Business Machines Corporation, 2014
	*
	*********************************************************************** --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:D95B="http://www.ibm.com/dfdl/edi/un/edifact/D95B" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmEdiFmt="http://www.ibm.com/dfdl/EDI/Format" xmlns:srv="http://www.ibm.com/dfdl/edi/un/service/4.1" targetNamespace="http://www.ibm.com/dfdl/edi/un/edifact/D95B">
    <xsd:import namespace="http://www.ibm.com/dfdl/EDI/Format" schemaLocation="/EDIFACT-Common/IBM_EDI_Format.dfdl.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/edi/un/service/4.1" schemaLocation="/EDIFACT-Common/EDIFACT-Service-Segments-4.1.dfdl.xsd"/>
    <xsd:include schemaLocation="EDIFACT-Messages.dfdl.xsd"/>
    <xsd:annotation>
        <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format ref="ibmEdiFmt:EDIFormat"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:element dfdl:lengthKind="implicit" name="Interchange">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element dfdl:initiator="UNA" dfdl:length="6" dfdl:lengthKind="explicit" dfdl:terminator="%NL;%WSP*; %WSP*;" minOccurs="0" name="UNA" type="srv:UNA"/>
                <xsd:element dfdl:initiator="UNB" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="UNB" type="srv:UNB-InterchangeHeader">
                    <xsd:annotation>
                        <xsd:appinfo source="http://www.ogf.org/dfdl/">
                        	<!-- Not validate syntax version -->
                            <!-- 
                            <dfdl:assert message="Unsupported syntax version" test="{./S001/E0002 eq '3' or ./S001/E0002 eq '4'}"/>
                            -->
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <!-- Content is either Functional Groups or independent Messages, never a mixture -->
                <xsd:choice>
                    <xsd:element maxOccurs="unbounded" name="FunctionGroup">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element dfdl:initiator="UNG" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="UNG" type="srv:UNG-GroupHeader"/>
                                <xsd:element maxOccurs="unbounded" ref="D95B:Message"/>
                                <xsd:element dfdl:initiator="UNE" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="UNE" type="srv:UNE-GroupTrailer"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" ref="D95B:Message"/>
                </xsd:choice>
                <xsd:element dfdl:initiator="UNZ" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="UNZ" type="srv:UNZ-InterchangeTrailer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Message">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element dfdl:initiator="UNH" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="UNH" type="srv:UNH-MessageHeader"/>
                <xsd:choice>
                    <xsd:sequence>
                        <xsd:choice dfdl:choiceDispatchKey="{ ./UNH/S009/E0065 }">
                            <xsd:element dfdl:choiceBranchKey="AUTACK" ref="srv:AUTACK">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONTRL" ref="srv:CONTRL">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="KEYMAN" ref="srv:KEYMAN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONDRA" ref="D95B:CONDRA">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="REMADV" ref="D95B:REMADV">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="REQDOC" ref="D95B:REQDOC">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DOCAMI" ref="D95B:DOCAMI">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CUSDEC" ref="D95B:CUSDEC">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PAYDUC" ref="D95B:PAYDUC">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DOCAMR" ref="D95B:DOCAMR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONDRO" ref="D95B:CONDRO">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SSIMOD" ref="D95B:SSIMOD">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SUPCOT" ref="D95B:SUPCOT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CUSEXP" ref="D95B:CUSEXP">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONEST" ref="D95B:CONEST">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COREOR" ref="D95B:COREOR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="STATAC" ref="D95B:STATAC">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTSAI" ref="D95B:IFTSAI">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="JOBCON" ref="D95B:JOBCON">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="REQOTE" ref="D95B:REQOTE">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="BOPINF" ref="D95B:BOPINF">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="QALITY" ref="D95B:QALITY">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DELFOR" ref="D95B:DELFOR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SLSFCT" ref="D95B:SLSFCT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DOCINF" ref="D95B:DOCINF">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COSTCO" ref="D95B:COSTCO">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="JOBOFF" ref="D95B:JOBOFF">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFCSUM" ref="D95B:IFCSUM">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="APERAK" ref="D95B:APERAK">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONITT" ref="D95B:CONITT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COPINO" ref="D95B:COPINO">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PAYEXT" ref="D95B:PAYEXT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTCCA" ref="D95B:IFTCCA">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SUPMAN" ref="D95B:SUPMAN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="INVOIC" ref="D95B:INVOIC">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTSTQ" ref="D95B:IFTSTQ">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="AUTHOR" ref="D95B:AUTHOR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTRIN" ref="D95B:IFTRIN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="ORDCHG" ref="D95B:ORDCHG">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COARRI" ref="D95B:COARRI">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="VESDEP" ref="D95B:VESDEP">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTSTA" ref="D95B:IFTSTA">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PAYMUL" ref="D95B:PAYMUL">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CALINF" ref="D95B:CALINF">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SANCRT" ref="D95B:SANCRT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DIRDEB" ref="D95B:DIRDEB">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="INVRPT" ref="D95B:INVRPT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SSRECH" ref="D95B:SSRECH">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PARTIN" ref="D95B:PARTIN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PRODEX" ref="D95B:PRODEX">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTDGN" ref="D95B:IFTDGN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTMIN" ref="D95B:IFTMIN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DOCAPP" ref="D95B:DOCAPP">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTIAG" ref="D95B:IFTIAG">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DIRDEF" ref="D95B:DIRDEF">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="MEDPID" ref="D95B:MEDPID">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CREEXT" ref="D95B:CREEXT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="BAPLTE" ref="D95B:BAPLTE">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PAYORD" ref="D95B:PAYORD">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="FINCAN" ref="D95B:FINCAN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONDPV" ref="D95B:CONDPV">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="QUOTES" ref="D95B:QUOTES">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="GESMES" ref="D95B:GESMES">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="BOPCUS" ref="D95B:BOPCUS">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTMBC" ref="D95B:IFTMBC">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SLSRPT" ref="D95B:SLSRPT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PAXLST" ref="D95B:PAXLST">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONTEN" ref="D95B:CONTEN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTMBF" ref="D95B:IFTMBF">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COPARN" ref="D95B:COPARN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="WKGRRE" ref="D95B:WKGRRE">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONPVA" ref="D95B:CONPVA">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="BAPLIE" ref="D95B:BAPLIE">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTMAN" ref="D95B:IFTMAN">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CUSREP" ref="D95B:CUSREP">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CUSRES" ref="D95B:CUSRES">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="JINFDE" ref="D95B:JINFDE">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="ORDERS" ref="D95B:ORDERS">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SSREGW" ref="D95B:SSREGW">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="JOBMOD" ref="D95B:JOBMOD">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DESADV" ref="D95B:DESADV">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DOCARE" ref="D95B:DOCARE">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="SAFHAZ" ref="D95B:SAFHAZ">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CODENO" ref="D95B:CODENO">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COSTOR" ref="D95B:COSTOR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="FINSTA" ref="D95B:FINSTA">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONAPW" ref="D95B:CONAPW">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTMBP" ref="D95B:IFTMBP">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COMDIS" ref="D95B:COMDIS">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="MOVINS" ref="D95B:MOVINS">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="ORDRSP" ref="D95B:ORDRSP">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="WKGRDC" ref="D95B:WKGRDC">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COHAOR" ref="D95B:COHAOR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONQVA" ref="D95B:CONQVA">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="HANMOV" ref="D95B:HANMOV">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COPRAR" ref="D95B:COPRAR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DELJIT" ref="D95B:DELJIT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CODECO" ref="D95B:CODECO">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="IFTMCS" ref="D95B:IFTMCS">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CREMUL" ref="D95B:CREMUL">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DEBMUL" ref="D95B:DEBMUL">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="RECECO" ref="D95B:RECECO">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONWQD" ref="D95B:CONWQD">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CUSCAR" ref="D95B:CUSCAR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="COEDOR" ref="D95B:COEDOR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="BOPBNK" ref="D95B:BOPBNK">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PRPAID" ref="D95B:PRPAID">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CONRPW" ref="D95B:CONRPW">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="CREADV" ref="D95B:CREADV">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DEBADV" ref="D95B:DEBADV">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="PRICAT" ref="D95B:PRICAT">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="JAPRES" ref="D95B:JAPRES">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="BANSTA" ref="D95B:BANSTA">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="BOPDIR" ref="D95B:BOPDIR">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="INSPRE" ref="D95B:INSPRE">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DOCADV" ref="D95B:DOCADV">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="JOBAPP" ref="D95B:JOBAPP">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element dfdl:choiceBranchKey="DOCAMA" ref="D95B:DOCAMA">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/"/>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:choice>
                        <xsd:element dfdl:initiator="UNT" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="UNT" type="srv:UNT-MessageTrailer"/>
                    </xsd:sequence>
                    <xsd:sequence>
                        <xsd:element ref="D95B:BadMessage"/>
                        <xsd:element dfdl:initiator="UNT" dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="UNT" type="srv:UNT-MessageTrailer"/>
                    </xsd:sequence>
                </xsd:choice>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
